<footer class="footer">
    <div class="social">
      <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    </div>
    <ul class="list">
      <li><a href="#home">Anasayfa</a></li>
      <li><a href="#education">Eğitim</a></li>
      <li><a href="#services">Hizmetler</a></li>
      <li><a href="../projects.html">Projeler</a></li>
    </ul>
    <p class="copyright">&copy; Created by <span>Seccad YEŞİLKAYA</span></p>
  </footer>