<header class="header">
  <a href="index.html#home" class="logo"> Seccad <span>YEŞİLKAYA</span></a>

  <nav class="navbar">
    <a href="index.html#home">Ana Sayfa</a>
    <a href="index.html#education">Eğitim</a>
    <a href="index.html#services">Hizmetler</a>
    <a href="projects.html">Projeler</a>
    <a href="index.html#contact">Bana Ulaş</a>
    <button id="theme-toggle" class="theme-toggle"><i class='bx bx-moon'></i></button>
  </nav>

  <div class="menu-icon">
    <i class='bx bx-menu' id="menu-icon"></i>
  </div>
</header>
